@use '../abstracts/variables' as*;
.btn{
    position: relative;
    backface-visibility: hidden;
    animation-fill-mode: backwards;
    &:link, &:visited{
        margin-top: 6rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.3s;
        font-size: $default-font-size;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgb($color-black, .2);
        &::after{
            transform: scaleX(1.2) scaleY(1.5);
            opacity: 0;
        }
    }
    &:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgb($color-black, .2);
    }
    &::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -999;
        transition: all .5s;
    }
    &--white{
        background-color: $color-white;
        color: $color-gray-dark;
        &::after{
            background-color: $color-white;
        }
    }
    &--green{
        background-color: $color-primary;
        color: $color-white;
        &::after{
            background-color: $color-primary;
        }
    }
    &--animated{
        animation: moveInBottom 1s ease-in-out;
    }
}

.btn-text{
    text-decoration: none;
    &:link,
    &:visited{
        font-size: $default-font-size;
        display: inline-block;
        color: $color-primary;
        border-bottom: 1px solid $color-primary;
        text-decoration: none;
        padding: 3px;
        transition: all .2s;
    }
    &:hover{
        background-color: $color-primary;
        color: $color-white;
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgb($color-black, .15);
    }
    &:active{
        transform: translateY(0px);
        box-shadow: 0 .5rem 1rem rgb($color-black, .15);
    }
}