@use '../abstracts/variables' as *;



.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgb($color-black, .4);
        position: absolute;
        transition: all .2s;
        z-index: 1;
        outline-offset: 1rem;
        &--p1{
            left: 0;
            top: -2rem;
        }
        &--p2{
            right: 0;
            top: 2rem;
        }
        &--p3{
            left: 20%;
            top: 10rem;
        }
        &:hover{
            outline: 1rem solid $color-primary-dark;
            transform: scale(1.05) translateY(-.5rem);
            z-index: 2;
            box-shadow: 0 2.5rem 4rem rgb($color-black, .5);
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}