@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
        
    }
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin position-center(
    $position: absolute,
    $top: 50%,
    $left:50%,
    $x: -50%,
    $y: -50%
){
    position: $position;
    top: $top;
    left: $left;
    transform: translate($x, $y);
}


/*
! MEDIA QUERY MANAGER
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landspace
1200 - 1800px:  Is where our normal styles apply
1800px + ;      Big destkop  

* $breakpoint argument choices
-phone
-tabPort
-tabLand
-bigDestkop


1em = 16px
37.5em = 600px
56.25em = 900px
75em = 1200px
112.5em = 1800px


*ORDER: Base + typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint){

    @if $breakpoint == phone {
        @media (max-width: 37.5em){@content};        //600px
    };
    @if $breakpoint == tabPort {
        @media (max-width: 56.25em){@content};       //900px
    };
    @if $breakpoint == tabLand {
        @media (max-width: 75em){@content};          //1200px
    };
    @if $breakpoint == bigDestkop {
        @media (min-width: 112.5em){@content};       //1800px
    }
}