@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
        
    }
}

@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin position-center(
    $position: absolute,
    $top: 50%,
    $left:50%,
    $x: -50%,
    $y: -50%
){
    position: $position;
    top: $top;
    left: $left;
    transform: translate($x, $y);
}

