@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../layout/grid';

.header{
    height: 95vh;
    background-image:linear-gradient(to right bottom,#7ed56fc9, #28b485c9 ), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @include respond (phone){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);        
    }
    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
        .header__logo{
            height: 3.5rem;
        }
    }
    &__text-box{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}