@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.navigation{
    

    &__checkbox{
        display: none;
    }

    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 1000px;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 0 2rem rgba($color-black, .2);
        cursor: pointer;
        &--line{
            width: 50%;
            height: 2.5px;
            background-color: $color-gray-dark;
            display: block;
            position: absolute;
            left: 50%;
            border-radius: 10px;
            transform: translateX(-50%);
            transform-origin: left;
            transition: all .3s;
            &:nth-of-type(1){
                top: 25px;
            }
            &:nth-of-type(2){
                top: 35px;
            }
            &:nth-of-type(3){
                top: 45px;
            }

        }

        &:hover &--line:nth-of-type(1){
            top: 22px;
        }
        &:hover &--line:nth-of-type(3){
            top: 48px;
        }
    }

    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 1000px;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;       
        transition: transform .8s cubic-bezier(.76,.2,.28,.95);
    }

    &__nav{
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        transition: all .8s cubic-bezier(.76,.2,.28,.95);
    }

    &__list{
        @include position-center();
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item{
        margin: 1rem;
    }
    &__link{

        &:link,
        &:visited{
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1.5rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0, transparent 50%, $color-white 50%);
            background-size: 225%;
            background-repeat: no-repeat;
            transition: all .5s;
            span{
                margin-right: 1.5rem;
            }
        }

        &:hover, &:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

    }

    &__checkbox:checked ~ &__background{
        @media (max-width: 1440px){
            transform: scale(50);
        }
        @media (max-width: 2200px){
            transform: scale(80);
        }
        @media (min-width: 2200px){
            transform: scale(110);
        }
    }
    &__checkbox:checked ~ &__nav{
        width: 100%;
        opacity: 1;
    }


    &__checkbox:checked ~ &__button &__button--line{
        &:nth-of-type(1){
            transform: rotate(135deg) translateX(-50%);
            top: 35px;
            left: 50%;
        }
        &:nth-of-type(2){
            opacity: 0;
            height: 0;
            width: 0;
        }
        &:nth-of-type(3){
            transform: rotate(-135deg) translateX(-50%);
            top: 35px;
            left: 50%;
        }
    }
}